.projects{
    padding: 160px 40px;
    background-color: #f1f5f9;
    text-align: center;
}

.projects-wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.section-transition {
    font-size: 17px;
    color: #64748b;
    margin-bottom: 48px;
    font-weight: 300;
    font-style: italic;
}

.projects h2{
    font-size: 32px;
    margin-bottom: 40px;
    color: #0f172a;
    font-weight: 400;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.project-card {
    background-color: rgb(181, 236, 105);
    padding: 32px;
    border-radius: 12px;
    text-align: left;
    border: none;
}
.project-card h3{
    margin-bottom: 16px;
    color: #0f172a;
    font-weight: 400;
    font-size: 22px;
}
.project-description{
    font-size: 16px;
    margin-bottom: 20px;
    color: #334155;
    line-height: 1.7;
    font-weight: 300;
}
.project-tech{
    font-size: 14px;
    margin-bottom: 20px;
    color: #475569;
    font-weight: 300;
}
.project-link{
    text-decoration: none;
    color: #38bdf8;
    font-weight: 400;
    font-size: 15px;
}
.project-link:hover{
    text-decoration: underline;
}
.projects-intro{
    margin-bottom: 56px;
    font-size: 19px;
    color: #475569;
    font-weight: 300;
    line-height: 1.7;
}