.projects{
    padding: 80px 40px;
    background-color: #f1f5f9;
    text-align: center;
}
.projects h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #0f172a;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.project-card {
    background-color: rgb(181, 236, 105);
    padding: 25px;
    border-radius: 10px;
    text-align: left;
}
.project-card h3{
    margin-bottom: 10px;
    color: #0f172a;
}
.project-description{
    font-size: 16px;
    margin-bottom: 15px;
    color: #334155;
}
.project-tech{
    font-size: 14px;
    margin-bottom: 15px;
    color: #475569;
}
.project-link{
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
}
.project-link:hover{
    text-decoration: underline;
}