.skills{
    padding: 160px 40px;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

.skills-wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.section-transition {
    font-size: 17px;
    color: #64748b;
    margin-bottom: 48px;
    font-weight: 300;
    font-style: italic;
}

.skills h2{
    font-size: 32px;
    margin-bottom: 56px;
    font-weight: 400;
    color: white;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 100%;
}
.skill-card{
    background-color: rgba(2, 6, 23, 0.4);
    padding: 32px 24px;
    border-radius: 12px;
    border: none;
    backdrop-filter: blur(10px);
}
.skill-card h3{
    margin-bottom: 12px;
    color: #38bdf8;
    font-weight: 400;
    font-size: 18px;
}
.skill-card p{
    font-size: 16px;
    color: #cbd5e1;
    font-weight: 300;
}