.skills{
    padding: 80px 40px;
    background-color: #0f172a;
    color: white;
    text-align: center;
}
.skills h2{
    font-size: 36px;
    margin-bottom: 40px;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: 0 auto;
}
.skill-card{
    background-color: #020617;
    padding: 25px;
    border-radius: 8px;
}
.skill-card h3{
    margin-bottom: 10px;
    color: #38bdf8;
}
.skill-card p{
    font-size: 16px;
    color: #cbd5e1;
}