.about{
    padding: 80px 40px;
    background-color: #f8fafc;
    color: #0f172a;
}
.about-container{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.about h2{
    font-size: 36px;
    margin-bottom: 25px;
}

.about p{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #334155;
}